.menu-section{
    display: none;
    background-color: #245550;
    text-align: center;
    padding: 10px 0;
}
.menu-box{
    display: inline-block;
    cursor: pointer;
}
.menu-box img{
    max-height: 22px
}
@media(max-width:767px){
    .menu-section{
        display: block;
    }
}